.inputContainer {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.inputBox {
    width: 846px;
    height: 41px;
    border-radius: 5px;
    border: 1px solid #00000073
}

.message {
    margin: 20px 0px;
}


@media (max-width: 600px) {
    .inputBox {
        height: 31px;
    }
}
