.chatCardImg img{
    width: 69px;
    height: 69px;
}



.soulAI, .you {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.38px;
    font-family: Ubuntu;
    display: block;
    margin-bottom: 8px;
}

.time {
    font-weight: 400;
    font-size: 12px;
    line-height: 12.38px;
    font-family: Ubuntu;
    display: block;
    color: #0000009E;
    margin-top: 8px;
}

.likeButton {
    background-color: white;
    border: none;
}

@media (max-width: 480px) {
    .soulAI, .you {
        font-size: 10px;
    }

    .chatCardImg img{
        width: 29px;
        height: 29px;
    }
}